.new-product{
    margin-bottom: 3rem;
}

.new-products-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-products-slide{
    width: 90vw;
}

.new-products-slide ul{
    list-style: none;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    width: 0.7rem;
}

::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,0.2);
    border-radius: 2rem;
}

.new-products-slide li{
    padding: 0.5rem;
    margin-bottom: 0.7rem;
}

.new-products-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.new-products-slide li img{
    width: 17rem;
    height: 12rem;
    object-fit: cover;
}

.new-product-card{
    padding: 1rem;
    border: 1px solid #DADCE0;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.new-product-card:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 5px grey;
}

.new-product-card-upper,
.new-product-card-lower{
    text-transform: capitalize;
    font-weight: bold;
    padding: 0.3rem 0;
}

.new-product-card-upper{
    font-size: large;
}

@media screen and (min-width: 900px){
    .new-products-slide{
        width: 80vw;
    }   
}
