.footer{
    box-shadow: #777 0px -4px 5px -2px;
}

.footer-top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.footer-social-media ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;    
}

.footer-row-1 p{
    margin: 1rem;
}

.footer-row-1 ul,.footer-row-2 ul,
.footer-row-3 ul,.footer-row-4 ul{
    list-style: none;
}

.footer-row-4 li i{
    align-content: flex-start;
}

.footer-row-1 li a,.footer-row-2 li a,
.footer-row-3 li a,.footer-row-4 li a{
    display: block;
    padding: 1rem;
    transition: all 0.5s ease;
}

.footer-row-4 li i{
    margin: 0 0.5rem;
}

.footer-row-1 li a:hover,.footer-row-2 li a:hover,
.footer-row-3 li a:hover,.footer-row-4 li a:hover{
    background: rgba(0,0,0,0.3);
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00ACEE;
}

.fa-youtube-play{
    color: #c4302b;
}

@media screen and (min-width: 768px){
    .footer-top{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer-row-2,.footer-row-3,.footer-row-4{
        padding-left: 1rem;
        white-space: nowrap;
    }

}

.footer-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
    
}

.privacy ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.privacy li{
    padding: 0.5rem;
}

@media screen and (min-width: 900px){
    .footer-line-separate{
        border-bottom: 1px solid rgb(148, 145, 145);
    }
    .footer-bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .privacy li{
        padding: 0 0.5rem;
        margin: 0;
    }
}